
!
upgrade fpd auto
version 15.2
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{ hostname }}
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
!
!
!
!
!
!
no ip domain lookup
ip cef
ipv6 unicast-routing
ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
!
redundancy
!
!
! 
!
!
!
!
!
!
!
!
!
interface Loopback0
 ip address 10.0.{{ routerid_third_octet }}.{{ routerid_fourth_octet }} 255.255.255.255
 ipv6 address FD00:{{ id }}{{ id }}{{ id }}{{ id }}::{{ id }}/64
!
interface FastEthernet0/0
 no ip address
 shutdown
 duplex half
!
!
{%- for link in links %}
interface {% if link['router1'] == id -%}{{ link['router1_interfacename'] }}{%- else -%}{{ link['router2_interfacename'] }}{%- endif %}
 no ip address
 ipv6 address FD00:{{ link['router1'] }}:{{ link['router2'] }}::{{ id }}/64
 duplex half
!
{%- endfor %}
{%- for interface in emptyinterfaces %}
interface Ethernet1/{{ interface }}
 no ip address
 shutdown
 duplex half
!
{%- endfor %}
router bgp 123
 bgp log-neighbor-changes
{%- for link in links %}
 neighbor FD00:{{ link['router1'] }}:{{ link['router2'] }}::{%- if link['router1'] == id -%}{{ link['router2'] }}{%- else -%}{{ link['router1'] }}{%- endif %} remote-as 123
{%- endfor %}
 !
 address-family ipv4
{%- for link in links %}
  no neighbor FD00:{{ link['router1'] }}:{{ link['router2'] }}::{%- if link['router1'] == id -%}{{ link['router2'] }}{%- else -%}{{ link['router1'] }}{%- endif %} activate
{%- endfor %}
 exit-address-family
 !
 address-family ipv6
{%- for link in links %}
  neighbor FD00:{{ link['router1'] }}:{{ link['router2'] }}::{%- if link['router1'] == id -%}{{ link['router2'] }}{%- else -%}{{ link['router1'] }}{%- endif %} activate
{%- endfor %}
  network FD00:{{ id }}{{ id }}{{ id }}{{ id }}::/64
 exit-address-family
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
!
!
!
!
!
control-plane
!
!
!
mgcp profile default
!
!
!
gatekeeper
 shutdown
!
!
line con 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
 transport input all
!
!
end
